<nb-card accent="primary">
  <nb-card-header>Creación de nuevo usuario</nb-card-header>
  <nb-card-body>
    <input style="display: block; margin: 8px; width: 20vw;" #identidad nbInput placeholder="Cedula del residente/guardia">
    <input style="display: block; margin: 8px; width: 20vw;" #name nbInput placeholder="nombre del usuario">
    <input style="display: block; margin: 8px; width: 20vw;" #house nbInput placeholder="Numero de casa">
    <input style="display: block; margin: 8px; width: 20vw;" #email nbInput placeholder="email del usuario">
    <input style="display: block; margin: 8px; width: 20vw;" #password nbInput placeholder="password del usuario">
    <nb-select class="appearance-outline size-medium shape-rectangle" placeholder="Seleccione tipo de usuario" [(selected)]="selectedItem">
      <nb-option value="">Seleccione tipo de usuario</nb-option>
      <nb-option value="res">Residente</nb-option>
      <nb-option value="gua">Guardia</nb-option>
    </nb-select>
  </nb-card-body>
  <nb-card-footer style="display: flex; flex-direction: row; justify-content: space-between;">
    <button nbButton status="danger" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(identidad.value,name.value,house.value,email.value,password.value)">Crear</button>
  </nb-card-footer>
</nb-card>  